*{
	margin: 0px;
}
body{
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	background: url(../img/background.jpg);
	background-size: cover;
	font-family: 'Eczar', serif;

}
.container{
	    width: 450px;
    margin: 13% auto;

}
.forget-pw{
	background: #1ad465bf;
    padding: 20px;
    border-radius: 10px;
}
.forget-pw h3{
    color: #fff;
    text-align: center;
    padding: 20px 0px;
    font-size: 20px;
}

.forget-pw img {
	display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;

}

.form-control{
width: 85%;
    border: 1px solid #458010;
    font-size: 16px;
    display: block;
    padding: 8px 22px;
    border-radius: 3px;
	margin-bottom: 20px;
}

.btn{

	background-color: #224342;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin: 0 auto;
    border: 1px solid #353a4e;
    color: #d4cbcb;
    transition: 0.4s;
    border-radius: 5px;

}

.btn:hover{
	    background: #3e1465;
    color: orangered;
    cursor: pointer;
    box-shadow: 2px 4px 6px #ce1c4dd1;
}

.forget-pw p a {
	text-decoration: none;
	margin: 0 auto;
	color: #fff;
}