		*{
			margin: 0px;
		}
		body{
			margin: 0 auto;
			font-family: 'Open Sans', sans-serif;
			background: url(../img/bg-img.jpg);
			background-size: cover;
		}
		.container{
			width: 400px;
			margin: 12% auto;
		}
		.Login-section{
			background-color: #353a4e;
			padding: 20px;
			border-radius: 10px;
		}

		.Login-section img {
			width: 120px;
			height: 120px;
			margin: 0 auto;
			display: block;
		}
		.Login-section h3{
			padding: 20px 0;
		    text-align: center;
		    font-weight: 600;
			font-size: 25px;
			color: #fff;
			    
		}
		.form-control{
			width: 85%;
		    height: 35px;
		    padding: 0px 20px;
		    border-radius: 3px;
		    margin-bottom: 20px;
		    border: 1px solid black;
		}
		.login-btn{
			background-color: #14dbe6;
		    padding: 8px 24px;
		    font-size: 16px;
		    font-weight: 600;
		    display: block;
		    margin: 0 auto;
		    border: 1px solid #353a4e;
		    color: red;
		    transition: 0.4s;
		} 
		.login-btn:hover{
			cursor: pointer;
			background-color: #fff;
			color: black;
			box-shadow: 2px 3px 4px #fff;
		}
		.Login-section a{
			text-decoration: none;
            color: #fff;
		}
		.Login-section a:hover{
			color: #02f3fe;
		}
